In [1]:
!date

Sat May 27 17:27:11 PDT 2023

In [2]:
!echo $CONDA_PREFIX

/c4/home/derek/miniconda3/envs/py39

In [3]:
import pandas as pd
import sqlite3

In [4]:
import scanpy as sc

In [5]:
##read in all introns
introns = pd.read_csv('introns.csv',index_col=0)

In [6]:
len(introns)

193402

In [7]:
introns.head()

,chromosome,start,end,strand,intron_motif,n_cells,gene_id_start,gene_id_end,n_genes,gene_id,gene_name,intron_coordinates,introverse_annotated
AL627309.3_chr1:90051-90286,chr1,90051,90286,-,2,5,ENSG00000239945,ENSG00000239945,1,ENSG00000239945,AL627309.3,chr1:90051-90286:-,False
AL627309.5_chr1:172689-173752,chr1,172689,173752,-,2,12,ENSG00000241860,ENSG00000241860,1,ENSG00000241860,AL627309.5,chr1:172689-173752:-,False
AL627309.5_chr1:173863-181036,chr1,173863,181036,-,2,27,ENSG00000241860,NaN,1,ENSG00000241860,AL627309.5,chr1:173863-181036:-,False
LINC01409_chr1:779093-786392,chr1,779093,786392,+,1,1,ENSG00000237491,ENSG00000237491,1,ENSG00000237491,LINC01409,chr1:779093-786392:+,False
LINC01409_chr1:779093-803918,chr1,779093,803918,+,1,8,ENSG00000237491,ENSG00000237491,1,ENSG00000237491,LINC01409,chr1:779093-803918:+,False

In [8]:
introns['intron_coordinates'] = introns['chromosome']+':'+introns['start'].values.astype(str)+'-'+introns['end'].values.astype(str)+':'+introns['strand']

In [9]:
introns['intron_coordinates']

AL627309.3_chr1:90051-90286            chr1:90051-90286:-
AL627309.5_chr1:172689-173752        chr1:172689-173752:-
AL627309.5_chr1:173863-181036        chr1:173863-181036:-
LINC01409_chr1:779093-786392         chr1:779093-786392:+
LINC01409_chr1:779093-803918         chr1:779093-803918:+
                                           ...
EIF1AY_chrY:20579692-20582589    chrY:20579692-20582589:+
EIF1AY_chrY:20582694-20584473    chrY:20582694-20584473:+
EIF1AY_chrY:20584525-20588023    chrY:20584525-20588023:+
EIF1AY_chrY:20588106-20589483    chrY:20588106-20589483:+
EIF1AY_chrY:20589576-20592340    chrY:20589576-20592340:+
Name: intron_coordinates, Length: 193402, dtype: object

In [10]:
##open introverse database
con = sqlite3.connect("/c4/home/derek/data1/derek/reference/introverse/introverse.sqlite")

In [11]:
#pd.read_sql_query('SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = tableName',con)

In [12]:
df_intron = pd.read_sql_query('SELECT * FROM intron', con)

In [13]:
df_novel = pd.read_sql_query('SELECT * FROM novel', con)

In [14]:
len(df_intron)

332571

In [15]:
len(df_novel)

4679474

In [16]:
len(set(df_intron['ref_coordinates']).intersection(introns['intron_coordinates']))

153182

In [17]:
len(introns)

193402

In [18]:
153182/193402

0.7920393791170722

In [2]:
df_intron

NameError: name 'df_intron' is not defined

In [23]:
introns.intron_coordinates.isin(set(df_intron['ref_coordinates']))

AL627309.3_chr1:90051-90286      False
AL627309.5_chr1:172689-173752    False
AL627309.5_chr1:173863-181036    False
LINC01409_chr1:779093-786392     False
LINC01409_chr1:779093-803918     False
                                 ...
EIF1AY_chrY:20579692-20582589     True
EIF1AY_chrY:20582694-20584473     True
EIF1AY_chrY:20584525-20588023     True
EIF1AY_chrY:20588106-20589483     True
EIF1AY_chrY:20589576-20592340     True
Name: intron_coordinates, Length: 193402, dtype: bool

In [24]:
introns['introverse_annotated'] = introns.intron_coordinates.isin(set(df_intron['ref_coordinates']))

In [25]:
introns['introverse_annotated'].value_counts()

True     153182
False     40220
Name: introverse_annotated, dtype: int64

In [26]:
introns['introverse_annotated'] = introns.intron_coordinates.isin(set(df_novel['novel_coordinates']))

In [19]:
for index, row in introns.itterows:
    if row['intron_coordinates'].isin(set(df_novel['novel_coordinates']):
        novel_type = df_novel[df_novel['novel_coordinates'] == row['intron_coordinates']]['novel_type']

,novel_junID,ref_junID,novel_coordinates,novel_ss5score,novel_ss3score,novel_type,distance
0,1,38522,chr1:10007090-10007569:+,9.80,8.37,novel_donor,-9758
1,2,38523,chr1:10011634-10015781:+,6.95,10.46,novel_donor,-3359
2,3,38524,chr1:100729295-100731197:+,7.21,6.96,novel_donor,88
3,4,38525,chr1:100906670-100906851:+,8.65,9.97,novel_donor,-9998
4,5,38526,chr1:100910413-100911062:+,7.51,12.07,novel_donor,-3447
...,...,...,...,...,...,...,...
4679469,4679470,93990,chr8:141366323-141367200:-,11.37,11.12,novel_acceptor,-8375
4679470,4679471,253963,chr9:104837308-104837427:-,9.85,4.39,novel_acceptor,-211
4679471,4679472,46003,chr9:133354875-133375921:-,9.13,4.14,novel_acceptor,12571
4679472,4679473,101859,chrX:16699088-16702736:-,9.65,-5.62,novel_acceptor,6
4679473,4679474,76256,chrX:23905861-23907693:-,8.68,6.73,novel_acceptor,-24908

In [22]:
unannot = introns[introns['introverse_annotated'] == False]

In [ ]:
annot = []

for index, row in unannot.iterrows():
    if row['intron_coordinates'] in set(df_novel['novel_coordinates']):
                                      novel_type = df_novel[df_novel['novel_coordinates'] == row['intron_coordinates']]['novel_type']
                                      annot.append(novel_type)
    else:
                                      annot.append('unannotated')

In [ ]:
annot

In [34]:
introns.to_csv('introns.csv')

In [36]:
introns.intron_coordinates.isin(set(df_novel['novel_coordinates'])).value_counts()

False    183368
True      10034
Name: intron_coordinates, dtype: int64

In [38]:
df_intron

,ref_junID,ref_coordinates,ref_length,ref_ss5score,ref_ss3score,ref_cons5score,ref_cons3score,ref_CDTS5score,ref_CDTS3score,u2_intron,u12_intron,clinvar,MANE,TSL,lncRNA,protein_coding,misspliced,gene_id
0,1,chr10:102362629-102363255:+,627,1.65,10.06,0.70868,0.48946,-6.050238,-7.908514,0,0,-,0,1,0.0,50.000000,0,3389
1,2,chr10:110596551-110598138:+,1588,-6.88,-6.07,0.48090,0.63430,-4.059466,-3.231614,0,1,-,1,1,0.0,100.000000,0,3414
2,3,chr10:119792037-119792156:+,120,7.87,10.20,0.27304,0.53412,-2.997100,-6.134342,1,0,-,1,10,0.0,46.153846,0,16372
3,4,chr10:125731926-125733403:+,1478,9.10,10.11,0.47946,0.57058,-8.175714,-1.288132,0,0,-,0,1,0.0,28.571429,0,3400
4,5,chr10:128047684-128047763:+,80,6.29,6.82,0.39326,0.26668,-9.239486,-9.483006,0,0,-,0,1,0.0,71.428571,0,6362
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
332566,332567,chr5:62398537-62398645:-,109,9.80,7.65,0.97202,0.33396,-6.910916,-7.865316,0,0,-,0,1,0.0,37.500000,1,1659
332567,332568,chr19:9621050-9621161:-,112,8.95,8.42,0.00182,0.01054,-0.480855,-0.231491,0,0,-,0,1,0.0,29.411765,1,12530
332568,332569,chr5:82178588-82242796:+,64209,5.59,4.84,0.12400,0.13348,2.693006,-4.120638,0,0,-,0,1,0.0,50.000000,1,9183
332569,332570,chr2:206605881-206617578:+,11698,6.31,1.80,0.71498,0.78548,-1.746988,-7.019962,0,0,-,0,1,0.0,100.000000,1,4251
332570,332571,chr12:47079066-47079141:-,76,9.26,6.18,0.40556,0.47838,-8.160252,-8.454262,0,0,-,1,1,0.0,100.000000,1,7539

In [18]:
ribo_SJ = pd.read_csv('/c4/home/derek/data1/derek/reference/greenberg_ribo_data/SJ.out.tab'
                      ,sep='\t',header=None)

ribo_SJ.replace({3: {1:'+',2:'-'}}, inplace=True)

SJ_ORFs = ribo_SJ[0]+':'+ribo_SJ[1].astype(str)+'-'+ribo_SJ[2].astype(str)+':'+ribo_SJ[3].astype(str)

In [19]:
introns[introns['introverse_annotated'] == True].intron_coordinates.isin(SJ_ORFs).value_counts()

False    9086
True      948
Name: intron_coordinates, dtype: int64

In [20]:
introns[introns['introverse_annotated'] == False].intron_coordinates.isin(SJ_ORFs).value_counts()

True     121631
False     61737
Name: intron_coordinates, dtype: int64

In [21]:
introns[introns['introverse_annotated'] == False].intron_coordinates.isin(SJ_ORFs).value_counts()

True     121631
False     61737
Name: intron_coordinates, dtype: int64

In [22]:
pd.Series(list(set(df_novel['novel_coordinates']).intersection(introns['intron_coordinates']))).isin(SJ_ORFs).value_counts()

False    9086
True      948
dtype: int64

In [24]:
def group_introns(introns, by="three_prime", filter_unique_gene_per_group=True):
    if by == "three_prime":
        introns["intron_group"] = introns.apply(
            lambda intron: intron.chromosome
            + "_"
            + (str(intron.end) if intron.strand == "+" else str(intron.start))
            + "_"
            + intron.strand,
            axis=1,
        )
    elif by == "five_prime":
        introns["intron_group"] = introns.apply(
            lambda intron: intron.chromosome
            + "_"
            + (str(intron.start) if intron.strand == "+" else str(intron.end))
            + "_"
            + intron.strand,
            axis=1,
        )

    intron_group_sizes = (
        introns.intron_group.value_counts()
        .to_frame()
        .rename(columns={"intron_group": "intron_group_size"})
    )
    introns = introns.merge(
        intron_group_sizes, how="left", left_on="intron_group", right_index=True
    ).set_index(introns.index)
    print("Filtering singletons.")
    introns = introns[introns.intron_group_size > 1]


    return introns

In [25]:
introns_3 = group_introns(introns, by="three_prime")
introns_3["grouping"] = "three_prime"

Filtering singletons.

In [26]:
introns_5 = group_introns(introns, by="five_prime")
introns_5["grouping"] = "five_prime"

Filtering singletons.

In [30]:
#get dataframe of all splice junctions

all_junctions = pd.concat([introns_3.copy(), introns_5.copy()])

all_junctions = all_junctions.sort_values(['chromosome','start'])

In [31]:
#get dataframe of splice junctions shared between 3' and 5' intron clusterings

shared_junctions = all_junctions[all_junctions.duplicated(subset=all_junctions.columns[:11],keep=False)]

In [32]:
#get dataframe of splice junctions shared between 3' and 5' intron clusterings

shared_clusters = shared_junctions.groupby(['chromosome', 'start', 'end'])['intron_group'].apply(lambda x: ','.join(x.astype(str))).reset_index()

shared_clusters[['intron_group_1','intron_group_2']] = shared_clusters['intron_group'].str.split(',',expand=True)

In [33]:
#add strand info

shared_clusters['strand'] = shared_clusters['intron_group'].str.split('_',expand=True)[4]

In [36]:
shared_clusters

,chromosome,start,end,intron_group,intron_group_1,intron_group_2,strand
0,chr1,829105,851926,"chr1_851926_+,chr1_829105_+",chr1_851926_+,chr1_829105_+,+
1,chr1,847807,851926,"chr1_851926_+,chr1_847807_+",chr1_851926_+,chr1_847807_+,+
2,chr1,852111,853390,"chr1_853390_+,chr1_852111_+",chr1_853390_+,chr1_852111_+,+
3,chr1,960801,961628,"chr1_961628_+,chr1_960801_+",chr1_961628_+,chr1_960801_+,+
4,chr1,999433,999691,"chr1_999433_-,chr1_999691_-",chr1_999433_-,chr1_999691_-,-
...,...,...,...,...,...,...,...
30770,chrY,12662707,12686512,"chrY_12686512_+,chrY_12662707_+",chrY_12686512_+,chrY_12662707_+,+
30771,chrY,12664687,12686512,"chrY_12686512_+,chrY_12664687_+",chrY_12686512_+,chrY_12664687_+,+
30772,chrY,12664687,12702009,"chrY_12702009_+,chrY_12664687_+",chrY_12702009_+,chrY_12664687_+,+
30773,chrY,12686607,12702009,"chrY_12702009_+,chrY_12686607_+",chrY_12702009_+,chrY_12686607_+,+
30774,chrY,12702056,12709387,"chrY_12709387_+,chrY_12702056_+",chrY_12709387_+,chrY_12702056_+,+

In [35]:
exons_total = pd.DataFrame()

In [38]:
%%time

import itertools

introns = all_junctions

exons_cas = pd.DataFrame(columns=['start','end'])

for index, row in shared_clusters.iterrows():   # for each shared intron cluster ...
    
    
    cluster_3prime = row['intron_group_1']
    cluster_5prime = row['intron_group_2']
    

    introns_3prime = introns[(introns['intron_group'] == cluster_3prime) & (introns['grouping'] == 'three_prime')]
    introns_5prime = introns[(introns['intron_group'] == cluster_5prime) & (introns['grouping'] == 'five_prime')]
    

    
    if row['strand'] == '+':
        exon_coordinate_start = introns_5prime['end']
        
        exon_coordinate_end = introns_3prime['start']

        
        cluster_start = row['start']

        cluster_end = row['end']        
        
        # print(str(cluster_start)+ '_' + str(cluster_end))
        # print(exon_coordinate_start[exon_coordinate_start.between(cluster_start, cluster_end, inclusive='neither')])
        # print(exon_coordinate_end[exon_coordinate_end.between(cluster_start, cluster_end, inclusive='neither')])
        # print()
        
        exon_coordinate_start = exon_coordinate_start[exon_coordinate_start.between(cluster_start, cluster_end, inclusive='neither')]
        exon_coordinate_end = exon_coordinate_end[exon_coordinate_end.between(cluster_start, cluster_end, inclusive='neither')]
        
        associated_intron_start = introns_5prime[introns_5prime['end'].isin(exon_coordinate_start)].index
        associated_intron_end = introns_3prime[introns_3prime['start'].isin(exon_coordinate_end)].index
                
    
    else:
        exon_coordinate_start = introns_3prime['end']
        
        exon_coordinate_end = introns_5prime['start']
        
        cluster_start = row['start']

        cluster_end = row['end']
   
        
        exon_coordinate_start = exon_coordinate_start[exon_coordinate_start.between(cluster_start, cluster_end, inclusive='neither')]
        exon_coordinate_end = exon_coordinate_end[exon_coordinate_end.between(cluster_start, cluster_end, inclusive='neither')]
        
        associated_intron_start = introns_3prime[introns_3prime['end'].isin(exon_coordinate_start)].index
        associated_intron_end = introns_5prime[introns_5prime['start'].isin(exon_coordinate_end)].index


    
    #change junctions coordinates from STAR, intronic bases to exonic bases: start + 1, end - 1
    
    exon_coordinate_start = exon_coordinate_start+1
    exon_coordinate_end = exon_coordinate_end-1
    

        
    
    df = pd.DataFrame(list(itertools.product(exon_coordinate_start,exon_coordinate_end)),columns=['start','end'])

    df['chromosome'] = row['chromosome']
    df['intron_start'] = df['start'].map(dict(zip(exon_coordinate_start,associated_intron_start)))
    df['intron_end'] = df['end'].map(dict(zip(exon_coordinate_end,associated_intron_end)))
#    df['intron_group'] = row['intron']
    
    exons = pd.concat([exons,df])

    exons_cas['length'] = exons_cas['end'] - (exons['start'] -1 )    
    exons_cas = exons_cas[exons_cas['length'] > 0 ]
    exons_cas = exons_cas.reset_index(drop = True)

    exons_cas['class'] = 'cassette'

CPU times: user 18min 53s, sys: 1.24 s, total: 18min 55s
Wall time: 18min 55s

In [39]:
exons

,start,end,chromosome,intron_start,intron_end
0,841200,847806,chr1,LINC01128_chr1:829105-841199,LINC01128_chr1:847807-851926
1,841200,849602,chr1,LINC01128_chr1:829105-841199,LINC01128_chr1:849603-851926
2,841200,850351,chr1,LINC01128_chr1:829105-841199,LINC01128_chr1:850352-851926
3,847654,847806,chr1,LINC01128_chr1:829105-847653,LINC01128_chr1:847807-851926
4,847654,849602,chr1,LINC01128_chr1:829105-847653,LINC01128_chr1:849603-851926
...,...,...,...,...,...
7,12699417,12699640,chrY,USP9Y_chrY:12686607-12699416,USP9Y_chrY:12699641-12702009
0,12707760,12707881,chrY,USP9Y_chrY:12702056-12707759,USP9Y_chrY:12707882-12709387
1,12707760,12708693,chrY,USP9Y_chrY:12702056-12707759,USP9Y_chrY:12708694-12709387
2,12708634,12707881,chrY,USP9Y_chrY:12702056-12708633,USP9Y_chrY:12707882-12709387
3,12708634,12708693,chrY,USP9Y_chrY:12702056-12708633,USP9Y_chrY:12708694-12709387

In [ ]:
exons_cas['annotated'] = (exons_cas['chromosome']+':'
                      +exons_cas['start'].astype(str)+'-'
                      +exons_cas['end'].astype(str)).isin(gtf['chromosome']+':'
                      +gtf['start'].astype(str)+'-'+gtf['end'].astype(str))

In [ ]:
%%time
##annotate threeprime 


introns_3prime = adata_spl_3p.var[~adata_spl_3p.var.intron_group.isin(shared_junctions[shared_junctions.grouping == 'three_prime'].intron_group)]

exons_3prime = pd.DataFrame(columns=['start','end','chromosome'])

for group in introns_3prime.intron_group.unique():
    
    chromosome = group.split('_')[1]
    strand = group.split('_')[3]
    
    introns = introns_3prime[introns_3prime.intron_group == group]
    
    if strand == '-': 
        terminal_coordinate = np.max(introns['end'])
    
        df = pd.DataFrame([[coord,terminal_coordinate] for coord in introns['end']],columns=['start','end'])
        
        
        df['chromosome'] = chromosome
    #    df['intron_group'] = group
        
        df['intron_start'] = np.NaN
        df['intron_end'] = introns[introns['end'].isin(df['start'])].index 
        
        df['start'] = df['start'] +1
        df['end'] = df['end'] -1
    
    else:
        terminal_coordinate = np.min(introns['start'])
    
        df = pd.DataFrame([[terminal_coordinate, coord] for coord in introns['start']],columns=['start','end'])
        
        
        
        df['chromosome'] = chromosome
   #     df['intron_group'] = group
        
        df['intron_start'] = np.NaN
        df['intron_end'] = introns[introns['start'].isin(df['end'])].index 
        
        df['start'] = df['start'] +1
        df['end'] = df['end'] -1
    
    
    exons_3prime = pd.concat([exons_3prime,df])
    
    
    
exons_3prime['length'] = exons_3prime['end'] - (exons_3prime['start']-1)
exons_3prime = exons_3prime[exons_3prime['length'] > 0]
exons_3prime['class'] = 'alt_3'

exons_3prime = exons_3prime.reset_index(drop=True)

In [ ]:
exons_3prime['annotated'] = (exons_3prime['chromosome']+':'
                      +exons_3prime['start'].astype(str)+'-'
                      +exons_3prime['end'].astype(str)).isin(gtf['chromosome']+':'
                      +gtf['start'].astype(str)+'-'+gtf['end'].astype(str))

In [ ]:
exons_3prime.annotated.value_counts()

In [ ]:
%%time
##annotate fiveprime 

introns_5prime = adata_spl_5p.var[~adata_spl_5p.var.intron_group.isin(shared_junctions[shared_junctions.grouping == 'five_prime'].intron_group)]


exons_5prime = pd.DataFrame(columns=['start','end','chromosome'])

for group in introns_5prime.intron_group.unique():
    
    chromosome = group.split('_')[1]
    strand = group.split('_')[3]
    
    introns = introns_5prime[introns_5prime.intron_group == group]
    
    if strand == '+':
        terminal_coordinate = np.max(introns['end'])
    
        df = pd.DataFrame([[coord,terminal_coordinate] for coord in introns['end']],columns=['start','end'])
        
        df['chromosome'] = chromosome
     #   df['intron_group'] = group
        
        df['intron_start'] = introns[introns['end'].isin(df['start'])].index
        df['intron_end'] = np.NaN
        
        df['start'] = df['start'] +1
        df['end'] = df['end'] -1
        
        
    else:
        terminal_coordinate = np.min(introns['start'])

        df = pd.DataFrame([[terminal_coordinate, coord] for coord in introns['start']],columns=['start','end'])
        
        
        df['chromosome'] = chromosome
      #  df['intron_group'] = group
        
        df['intron_start'] = introns[introns['start'].isin(df['end'])].index
        df['intron_end'] = np.NaN
        
        df['start'] = df['start'] +1
        df['end'] = df['end'] -1
        
        
    exons_5prime = pd.concat([exons_5prime,df])
    
    
    
exons_5prime['length'] = exons_5prime['end'] - (exons_5prime['start']-1)
exons_5prime = exons_5prime[exons_5prime['length'] >  0]
exons_5prime['class'] = 'alt_5'

exons_5prime = exons_5prime.reset_index(drop=True)