In [2]:
!date

Wed Feb  1 01:57:26 PST 2023

In [3]:
!echo $CONDA_PREFIX

/c4/home/derek/miniconda3/envs/scquint_3

In [4]:
import pandas as pd
import sys

In [13]:
sQTL = pd.read_csv('/c4/home/derek/data1/derek/data_scSLR/prenatal_brain/ncomms14519-s2.csv',
            header=1,
           index_col=0)[:-1]

In [20]:
sQTL.head()

,sQTL SNP_ID,Alternative_IDa,Double-corrected_P,FDR_corrected_P,SNP_position(hg19),Ref,Alt(all_observed_alleles),Function,Associated_AS_IDb,AS_type,AS_position(hg19)c,Gene
Rank,,,,,,,,,,,,
1,rs7724759,NaN,8.950000e-135,1.630000e-136,chr5:96076487,G,A,splice_region_variant&synonymous_variant,HsaEX0012625,Alternative exon skipping,chr5:96076449-96076487,CAST
2,rs508386,NaN,8.310000e-104,1.660000e-104,chr8:102899450,T,C,5_prime_UTR_variant,HsaEX0041904,Alternative exon skipping,chr8:102899369-102899455,NCALD
3,rs13422340,NaN,2.180000e-101,4.940000e-103,chr2:170457994,A,G,intron_variant,HsaALTD0004977,Alternative usage of splice sites at the donor...,chr2:170441000+170441007,PPIG
4,rs2276611,NaN,2.720000e-101,4.940000e-103,chr2:170441001,G,A,splice_donor_variant&intron_variant,HsaALTD0004977,Alternative usage of splice sites at the donor...,chr2:170441000+170441007,PPIG
5,rs10465799,NaN,4.420000e-100,8.830000e-101,chr1:39518006,G,A,intergenic_region,HsaALTD0004255,Alternative usage of splice sites at the donor...,chr1:39492070+39492074,NDUFS5

In [17]:
introns = pd.read_csv('/c4/home/derek/data1/derek/data_scSLR/prenatal_brain/diff_introns.csv',
           index_col=0)

In [23]:
introns.gene_name.isin(sQTL.Gene).value_counts()

False    15718
True      3324
Name: gene_name, dtype: int64

In [30]:
sQTL[sQTL.Gene.isin(introns.gene_name)]['Gene'].unique()

array(['CAST', 'NCALD', 'PPIG', 'NDUFS5', 'APIP', 'NDUFB2', 'SAT2',
       'ACSL3', 'KIAA1841', 'ARL16', 'CCDC7', 'DST', 'KHDRBS3', 'MRAS',
       'PAK1', 'CUTA', 'AHI1', 'ODF2L', 'COX16', 'WSB1', 'MARCH1',
       'RARS2', 'CHD9', 'CAMLG', 'ZRANB3', 'IFI27L1', 'RAP1GDS1',
       'COMMD6', 'PSD3', 'SLC25A26', 'CLUAP1', 'PCM1', 'DLG1', 'N4BP2L2',
       'MRPL21', 'AKAP9', 'TMEM14A', 'SRP9', 'ENC1', 'CCDC66', 'ARHGEF12',
       'MAP2', 'ZDHHC21', 'ERC1', 'ANKRD36B', 'NKAIN4', 'ACADM', 'VRK1',
       'SPATA7', 'THUMPD3', 'VHL', 'ARL4A', 'DTNA', 'TNRC6B', 'SPAG16',
       'ASPH', 'BAZ2B', 'C6orf89', 'U2AF1L4', 'ADD3', 'ZFYVE16', 'ELF2',
       'SMAD5', 'KLHL5', 'ERCC1', 'TRIP12', 'RSRC2', 'FEZ2', 'CAMTA1',
       'STARD3NL', 'MRPL36', 'STX2', 'APBB2', 'SMAP1', 'TJP1', 'ICA1L',
       'UBAP2', 'PTPRA', 'BTRC', 'PLEKHA1', 'PKIA', 'MFF', 'ZBTB38',
       'APLP2', 'ELMO1', 'AKAP11', 'TRIM2', 'XPO1', 'ALDH3A2', 'RIMS2',
       'TFDP2', 'PTPRZ1', 'MIA3', 'INTS10', 'GPBP1', 'ANK2', 'ROBO2',
       'SMARCA2', 'CADM3', 'GTF3A', 'LYRM1', 'MACF1', 'CCNT2', 'CPNE3',
       'HNRNPK', 'SHPRH', 'OCIAD2', 'PTK2', 'ZNF708', 'IFI44', 'USP33',
       'LMO3', 'ZNF326', 'LMO7', 'LARP7', 'P4HTM', 'MYO6', 'CNTNAP2',
       'TBL1XR1', 'PTPRD', 'KTN1', 'MAP4K5', 'NFIB', 'C1orf61', 'HAGH',
       'C7orf50', 'PSAP', 'MRPS17', 'TIAM2', 'SNHG8', 'SNCA', 'CPLX2',
       'MAP2K4', 'ITGB1BP1', 'SGCE', 'AP2S1', 'ZC3H13', 'DEF8', 'FAM49B',
       'ZNF664', 'LARP1B', 'AMN1', 'TXNL4A', 'NSMCE1', 'PPHLN1',
       'FAM172A', 'CLCC1', 'GNAL', 'RBM26', 'CAMK2N1', 'RBFOX1', 'NBAS',
       'GSK3B', 'BTBD8', 'RASAL2', 'ASXL3', 'CTNND2'], dtype=object)